# Local MySQL database playground

## Import libraries and create connection

In [36]:
import mysql.connector
from mysql.connector import errorcode
from sqlalchemy import create_engine
import pymysql
import pandas as pd

try:
    mydb = mysql.connector.connect(
        host="localhost",
        user="js",
        password="Yamato%0",
        database="endoscopy",
        )

except mysql.connector.Error as err:
  if err.errno == errorcode.ER_ACCESS_DENIED_ERROR:
    print("Something is wrong with your user name or password")
  elif err.errno == errorcode.ER_BAD_DB_ERROR:
    print("Database does not exist")
  else:
    print(err)

## Create database and select table

In [37]:
mycursor = mydb.cursor()

mycursor.execute(
    "CREATE DATABASE IF NOT EXISTS endoscopy;"
)

mycursor.execute("USE endoscopy;")
mycursor.execute("SHOW TABLES;")

for x in mycursor:
    print(x)

('probes_cal',)
('probes_info',)
('test',)

## Create new tables

In [38]:
mycursor.execute(
    "CREATE TABLE IF NOT EXISTS test ("
    "UID INT, "
    "n INT "
    ");"
    )

mycursor.execute(
    "CREATE TABLE IF NOT EXISTS probes_cal ("
	"UID INT UNSIGNED NOT NULL, "
	"date DATE NOT NULL, "
    "time TIME NOT NULL, "
    "fov DECIMAL(8, 5) "
	");"
    )

mycursor.execute(
    "CREATE TABLE IF NOT EXISTS probes_info ("
    "UID INT UNSIGNED NOT NULL AUTO_INCREMENT, "
    "name VARCHAR(30) NOT NULL DEFAULT '', "
    "fiber VARCHAR(30) NOT NULL DEFAULT '', "
    "connector VARCHAR(30) NOT NULL DEFAULT '', "
    "objective VARCHAR(30) NOT NULL DEFAULT '', "
    "status VARCHAR(30) NOT NULL DEFAULT '', "
    "PRIMARY KEY (UID) "
    ");"
)

## Add values to tables

In [39]:
mycursor.execute("insert into test values (1, CURRENT_DATE(), 23);")
mycursor.execute("insert into test values (2, CURRENT_DATE(), 22);")
mycursor.execute("insert into test values (3, CURRENT_DATE(), 24);")

mycursor.execute("SELECT * from test")
for x in mycursor:
    print(x)

(2, None, 22)
(3, None, 24)
(2, None, 22)
(3, None, 24)
(1, datetime.date(2022, 3, 15), 23)
(2, datetime.date(2022, 3, 15), 22)
(3, datetime.date(2022, 3, 15), 24)

## Remove values from tables

In [40]:
mycursor.execute("DELETE FROM test where uid = 1;")


mycursor.execute("SELECT * from test")
result = mycursor.fetchall()

for row in result:
    print(row)

(2, None, 22)
(3, None, 24)
(2, None, 22)
(3, None, 24)
(2, datetime.date(2022, 3, 15), 22)
(3, datetime.date(2022, 3, 15), 24)

## Read table as pandas.dataframe and export to CSV file and Excel file

In [41]:
dfdb = pd.read_sql("SELECT * from test", mydb)
print(dfdb)

dfdb.to_csv("test.csv")
dfdb.to_excel("test.xlsx")

   UID        date   n
0    2        None  22
1    3        None  24
2    2        None  22
3    3        None  24
4    2  2022-03-15  22
5    3  2022-03-15  24

C:\Python310\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

## Alter tables

In [42]:
# # Add a column
# mycursor.execute("ALTER TABLE test ADD COLUMN date DATE AFTER uid;")

# mycursor.execute("SELECT * from test")
# for x in mycursor:
#     print(x)

## Delete things (uncomment if needed)

In [43]:
# mycursor.execute(
#     "DROP TABLE IF EXISTS test;"
#     )

## Close connection

In [44]:
mycursor.close()
mydb.close()